html, body {
    height: 100%;
}

.navbar-custom {
  background-color: #fefefe;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
      color: #232323;
  }

table.scrolldown {
    width: 100%;

    /* border-collapse: collapse; */
    border-spacing: 0;
}

/* To display the block as level element */
table.scrolldown tbody,
table.scrolldown thead {
    display: block;
}

thead tr th {
    height: 30px;

}

table.scrolldown tbody {

    /* Set the height of table body */
    max-height: 150px;

    /* Set vertical scroll */
    overflow-y: auto;

    /* Hide the horizontal scroll */
    overflow-x: hidden;
}

thead {
  width:100%;
}
    tbody {
        border-top: 2px solid grey;
  width: 100%;
    }

    .col1{
        width: 75%;  
  min-width: 200px;
  text-align:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    }
.col2{
        width: 20%;
  text-align:left;
    }

 .col3{
        width: 80px;
  text-align:left;
    }

table tr td, table tr th{
  background-color: #fEfEfE !important;
}
.info-card-btn-width{
  width: 30em
}

.find-projects-stack {
  width: 100%;
}

.project-card {
  width: 800px;
}

.search-proj-text {
  font-weight: 1000;
  letter-spacing: 2px;
  line-height: 1.8;
}

.hide-scrollbar { /*https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll*/
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.welcome-text {
  font-weight: 700 !important;
  font-size: 30px !important; 
}
.add-proj-btn {
  --bs-btn-bg: #3E76A1;
  --bs-btn-hover-bg: #185489;

}
